appdirs==1.4.4
attrs==19.3.0
black==24.3.0
click==7.1.2
coverage==5.2.1
distlib==0.3.1
filelock==3.0.12
iniconfig==1.0.0
mmh3==2.5.1
more-itertools==8.4.0
packaging==20.4
pathspec==0.8.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.0.1
regex==2020.7.14
six==1.15.0
toml==0.10.1
tox==3.18.1
typed-ast==1.4.1
