attrs==19.3.0
BitVector==3.4.9
coverage==5.0.4
-e git+https://github.com/hamanlp/hama-py.git@0b6384bf41e272081df2a3c2c226860412e9eab5#egg=hama
importlib-metadata==1.5.0
mmh3==2.5.1
more-itertools==8.2.0
numpy==1.18.1
packaging==20.3
pandas==1.0.1
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest==5.4.1
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
wcwidth==0.1.8
yapf==0.29.0
zipp==3.1.0
